:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --primaty-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --accent-bg-color: #2196f3;
  --footer-bg-color: #2f303a;
}

/* Hero */

.hero {
  text-align: center;

  outline: 2px solid blue;
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 46px;

  color: var(--white-text-color);
  background-color: var(--primaty-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* section */

.section-title {
  margin: 0px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.feature-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.feature-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.icon {
  margin-bottom: 30px;
}

.title {
  margin: 0px;
  margin-bottom: 10px;
}

.text {
  margin: 0px;
}

.feature-list .icon {
  fill: var(--secondary-bg-color);
}

.feature-list .icon:hover {
  fill: var(--accent-bg-color);
}

.feature-list .text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.service-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.service-title {
  margin: 0px;

  color: var(--white-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.team-list .text {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  margin: 0px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.social-icon:hover {
  color: var(--accent-bg-color);
}

.section-title.clients {
  margin-bottom: 50px;
}

.client-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* button */

.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;

  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}
